<div class="pregunta">
    <p class="pregunta__categoria" id="categoria">{{{category}}}</p>
    <div class="pregunta__titulo">
        <p id="pregunta" class="pregunta__titulo__nombre">{{{question}}}</p>
    </div>
</div>
<div class="respuestas">
    {{#if trueFalse}}
    <div class="respuestas__trueFalse">
        <button class="btnAnswer">{{{answer1}}}</button>
        <button class="btnAnswer">{{{answer2}}}</button>
    </div>
    {{else}}
    <div class="respuestas__multiples">
        <button class="btnAnswer">{{{answer1}}}</button>
        <button class="btnAnswer">{{{answer2}}}</button>
        <button class="btnAnswer">{{{answer3}}}</button>
        <button class="btnAnswer">{{{answer4}}}</button>
    </div>
</div>

{{/if}}